
@{
    ViewBag.Title = "Booked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Reservation is Booked!</h2>
<br />
<h3> We have emailed you a overview of your booking.</h3>
<br />
<br />
<h3> We cannot wait till you join us! </h3>